wo-of-list-tabs {
    .tabbar {
        background: #00398b !important;
        .tab-button {
            color: #fff !important;

            &[aria-selected=true] {
                font-weight: 600;
            }
        }

        .tab-highlight {
            height: 3px;
            background: #EB6434 !important;
        }

        .tab-button[aria-selected=true] {
            background-color: #EB6434;
        }
    }

    ion-fab {
        bottom: 70px!important;
        .fab {
            background-color: map-get($accuvcolors, accuv-blue) !important;
            color: #fff !important;
        }
    }
}
