dvi-list {
    .dvi-item {
        padding-left: 0 !important;
        &:nth-child(2n+0) {
            background-color: #eef8f8;
        }
        .item-inner {
            padding-left: 15px;
            .input-wrapper {
                .label {
                    color: #333 !important;
                    .dvi-item-row1 {
                        font-weight: 600;
                    }
                }
            }
        }
        .dvi-item-row1 {
            line-height: 24px;
        }
        .dvi-item-sitenumber {
            font-size: 17px;
            font-weight: 600;
        }
        .dvi-item-reportdate {
            float: right;
            font-size: 12px;
            color: #777;
        }
        .dvi-item-row3 {
            font-size: 13px;
        }
        .dvi-item-row2 {
            font-size: 13px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 90%;
        }
    }
    ion-content {
        ion-fab {
            .fab {
                background-color: map-get($accuvcolors, accuv-blue) !important;
                color: #fff !important;
            }
        }
    }
}