lot-scanner {
    ion-header {
        ion-toolbar{
            .toolbar-background {
                background-color: map-get($accuvcolors, accuv-blue);
            }
            .toolbar-content {
                ion-title {
                    .toolbar-title {
                        color: map-get($colors, white);
                        font-weight: normal;

                        &.toolbar-title-ios {
                            text-align: center;
                        }
                        &.toolbar-title-md {
                            padding: 0 15px;
                        }
                    }
                }
            }
        }
    }
    ion-content {
        ion-grid {
            &.grid {
                padding: 15px;

                ion-row {
                    ion-col {
                        flex: 1 0.5 auto;
                        ion-select{
                            padding: 0px 4px 4px 0px;
                        }
                    }
                }
            }
        }
        ion-item {
            &.toggle-scan-fields {
                background-color: map-get($colors, white);
                margin-bottom: 10px;
                padding-left: 18px;
                font-size: 1.4rem;
            }
            &.external-scanner {
                padding-left: 0px;
            }
        }
    }
    ion-footer {
        ion-grid {
            &.grid {
                padding: 15px;
            }
            .scan-lot-field {
                .col {
                    .item {
                        padding: 0;
                        border-bottom: 1px solid map-get($accuvcolors, accuv-gray);

                        &.item-input-has-focus {
                            border-bottom: 1px solid map-get($accuvcolors, accuv-blue);
                            box-shadow: 0;
                        }
                        .item-inner {
                            padding-left: 0;
                            padding-right: 0;

                            ion-label {
                                margin-top: 0;
                            }
                            button {
                                margin: 0 0 8px 0;
                                align-self: flex-end;
                            }
                        }
                    }
                }
            }
        }
    }
    .lot-number-quantity,
    .lot-number-info {
        span.label {
            display: block;
            font-weight: 700;
            color: map-get($accuvcolors, accuv-blue);
            border-bottom: 2px solid map-get($accuvcolors, accuv-blue);
            text-transform: uppercase;
            font-size: 1.1rem;
            padding-bottom: 4px;
            margin-bottom: 4px;
        }
    }
    .lot-number-butttons {
        margin: 20px 0 0;

        ion-buttons {
            margin: 0;
            text-align: right;

            button {
                margin: 0 5px 0 0;

                .fa {
                    margin-right: 5px;
                }
            }
        }
    }
    .lot-number-validation {
        ion-col {
            span {
                display: block;
                margin-top: 10px;
                padding-top: 10px;
                border-top: 1px solid map-get($accuvcolors, accuv-danger);

                i.fa {
                    color: map-get($accuvcolors, accuv-danger);
                }
            }
        }
    }
}
