wci-check-in-details {
        
    ion-content {
        background-image: url("../assets/images/background-accuvmobile.jpg");
        background-size: cover;

        .fixed-content{
            margin-top: 0 !important;
        }

        .item {
            padding-right: 0;
            padding-left: 0;
        }
        .scroll-content {
            background: map-get($accuvnewcolors, accuv-purple);
            justify-content: center;
            align-items: center;
            padding: 0 30px;
        }
        .main-slide {
            padding: 60px 20px 100px;
            flex: 1 1 auto;
           
            ion-item{
                margin-top: 35px;
                padding-left: 0 !important;

                &:last-child {
                    margin-top: 48px;
                }

                &.input-has-focus {
                    .item-inner {
                        border-bottom-color: map-get($accuvnewcolors, accuv-turquoise) !important;
                        box-shadow: inset 0 -1px 0 0 map-get($accuvnewcolors, accuv-turquoise) !important;
                    }
                }
                .item-inner {
                    border-bottom-color: transparent !important;
                    box-shadow: inset 0 -1px 0 0 transparent !important;

                    .input-wrapper {
                        ion-input {
                            .text-input {
                                text-align: center;
                                font-family: Lato !important;
                                color: #00398b;
                            }
                        }
                    }
                }
            }

            .list {
                margin: 0;
            }
            .checkMeInButtonWrapper {
                margin-top: 50px;

                button{
                    border-radius: 4px;
                    background-color: map-get($accuvnewcolors, accuv-turquoise) !important;
                    color: map-get($accuvnewcolors, accuv-purple);
                    font-weight: bold;

                    &:active,
                    &:focus {
                        background-color: map-get($accuvnewcolors, accuv-turquoise) !important;
                    }

                    .button-inner{
                        font-size: 20px;
                    }
                }
            }
            .checkInTitle {
                h2 {
                    text-align: center;
                    color: white;
                    margin: 0 0 30px;
                    font-size: 4vh;
                    font-weight: 300;
                }
            }

            .checkInIcon {
                text-align: center;
                
                ion-icon {
                    color: map-get($accuvnewcolors, accuv-turquoise);
                    font-size: 130px;
                    margin-bottom: 15px
                }
            }
        }
    }
}
